.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 90px;
}

.footer__paragraph {
  max-width: 166px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer__paragraph {
  }
}

@media screen and (max-width: 544px) {
  .footer {
    display: none;
  }
}
