.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  max-width: 254;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 254px;
    margin: 0 auto;
    padding-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    width: 188px;
    padding-top: 20px;
  }

  .header__image {
    max-width: 188px;
  }
}
