.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 254px;
    margin: 0 auto;
    padding-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    width: 188px;
    margin: 0 auto;
    padding-top: 20px;
  }
}
