.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lead__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  max-width: 720px;
  padding-top: 90px;
  padding-bottom: 32px;
  margin: 0;
}

.lead__subtitle {
  max-width: 720px;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 64px;
  margin: 0;
}

.lead__image {
  max-width: 984px;
  width: 100%;
  padding-bottom: 92px;
  /*   max-height: 615px; */
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
    padding-bottom: 25px;
  }

  .lead__subtitle {
    font-weight: 400;
    padding-bottom: 30px;
  }

  .lead__image {
    max-width: 768px;
    /*     max-height: 480px; */
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 16px;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
    font-weight: 400;
  }

  .lead__image {
    max-width: 320px;
    /*     max-height: 200px; */
    padding-bottom: 64px;
  }
}
